<li class="pxo-outline-node" data-id="{{id}}">
  <div class="pxo-node-left-extension">
    <a class="pxo-node-zoom-thumb"/>
    <div class="pxo-node-spine"/>
    <a class="pxo-node-collapser">
      <i class="fa fa-minus pxo-node-collapse-icon"/>
      <i class="fa fa-plus pxo-node-expand-icon" style="display:none"/>
    </a>
  </div>
  <div class="pxo-outline-title-entry" contenteditable>{{{title}}}</div>
  <ul class="pxo-outline-tree pxo-outline-tree-inner">
    {{#each children }}
      {{> node .}}
    {{/each}}
  </ul>
</li>
