<div class="pxo-key-binding-container">
  <table>
    <tr>
      <td class="pxo-pict-key-cell">
        <i class="fa fa-arrow-up" />
        <i class="fa fa-arrow-down"/>
      </td>
      <td> Navigate up/down through the list </td>
    </tr>
    <tr>
      <td class="pxo-pict-key-cell">
        <div class="pxo-pict-key-row">
          <span class="pxo-key-modifier">Shift</span>
        </div>
        <div class="pxo-pict-key-row">
          <span class="pxo-key-combo"><i class="fa fa-plus-square-o"/></span>
        </div>
        <i class="fa fa-arrow-up"/>
        <i class="fa fa-arrow-down"/>
      </td>
      <td> Move list items up or down </td>
    </tr>
    <tr>
      <td class="pxo-pict-key-cell">
        <div class="pxo-pict-key-row">
          <span class="pxo-key-modifier">Tab</span>
        </div>
      </td>
      <td> Indent list item </td>
    </tr>
    <tr>
      <td class="pxo-pict-key-cell">
        <div class="pxo-pict-key-row">
          <span class="pxo-key-modifier">Shift</span>
        </div>
        <div class="pxo-pict-key-row">
          <span class="pxo-key-combo"><i class="fa fa-plus-square-o"/></span>
        </div>
        <span class="pxo-key-modifier">Tab</span>
      </td>
      <td> Dedent list item </td>
    </tr>
  </table>
</div>