<div class="pxo-outline-container">
  <div class="pxo-top-nav" style="-webkit-app-region: drag">
    <div class="pxo-logo-container">
      <img src="assets/icons/pxo_outline.png" />
    </div>
    <ul class="pxo-outline-breadcrumbs">
    </ul>
    <ul class="pxo-r-tool-box">
      <li>
        <a> <i class="fa fa-save" /></a>
      </li>
      <li>
        <a class="pxo-tgr-kb"> <i class="fa fa-question-circle"/></a>
      </li>
    </ul>
  </div>

  <div class="pxo-outline-tree-container">
    <div class="pxo-outline-tree">
      {{> tree tree}}
    </div>
  </div>
</div>