<div>
  <div style="display:none">
    <input class="pxo-file-selection-input pxo-btn-primary" type="file" nwfile />
  </div>

  <h1 class="pxo-app-header" style="-webkit-app-region: drag">
    <img src="assets/icons/pxo_app_icon.png"/>
    <br/>
    Pixel Outliner
  </h1>
  <div class="pxo-item-line">
    <a class="pxo-btn-primary pxo-tgr-new-outline"> New Outline </a>
  </div>
  <div class="pxo-item-line">
    <a class="pxo-btn-hollow pxo-tgr-open-outline"> Open Outline </a>
  </div>

</div>
